<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PodcastAPI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-light-subtle">
    <nav class="navbar bg-primary-subtle"><a href="/"><button class="btn">Back</button></a></nav>

    <div class="row mt-3">
        <div class="col-1"></div>
<div class="col-3 text-center">
        <p>Please input the podcast ID from spotify.</p>
    <form action="/podcastAPI" method="post">
        {{form.csrf_token}}
        {% for field in form if field.widget.input_type != 'hidden'%}
        {{field(class="form-control")}}
        {%endfor%}
        <button type="submit" class="btn btn-primary mt-2">Search!</button>
        {%for msg in get_flashed_messages()%}
        <p class="text-danger">{{msg}}</p>
        {%endfor%}
    </form>
    </div>
    <div class="col-1"></div>
{%if podcast%}
    <div class="col-6 text-center">
        <form action="/podcast" method="post">
            {{data_form.csrf_token}}
            {{data_form.title(value= podcast.name)}}
            {{data_form.host(value= podcast.host)}}
            {{data_form.description(value= podcast.description)}}
            {{data_form.img_url(value= podcast.image_url)}}
            {{data_form.podcast_id_spotify(value= podcast.podcast_id)}}
            {%for field in data_form if field.widget.input_type != 'hidden'%}
            {{field}}
            {%endfor%}
            <img src={{podcast.image_url}} width="100" height="100">
            <h4>{{podcast.name}}</h4> 
            <h5>hosted by {{podcast.host}}</h5>
            <p>{{podcast.description}}</p>
            <button type="submit" class="btn btn-success">Add to database!</button>
        </form>
    </div>
    {%endif%}
    </div>
</body>
</html>